<div class="container-fluid footer text-center">
    <div class="row">
        <div class="col-lg-4">Website T&C</div>
        <div class="col-lg-4">TheCoffeeCove</div>
        <div class="col-lg-4">Visit Us On
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">Store Events</div>
        <div class="col-lg-4">Copyright 2024 by Stjepan Tadic</div>
        <div class="col-lg-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">Delivery Information</div>
        <div class="col-lg-4">All rights reserved</div>
        <div class="col-lg-4">
            <img src="../icons/facebook.png" alt="facebook">
            <img src="../icons/instagram.png" alt="instagram">
            <img src="../icons/linkedin.png" alt="linkedin">
        </div> 
    </div>
</div>