    <!-- Footer containing miscellaneous links, site information -->
    <div class="container-fluid footer text-center">
        <div class="row">
            <div class="col-lg-4">
                <a href="privacy.html">Privacy & Cookies</a><br>
                <a href="contact.html">Contact Us</a><br>
                <a href="delivery.html">Delivery Information</a>
            </div>
            <div class="col-lg-4" style="font-style: italic;">
                TheCoffeeCove <br>
                Copyright 2024 by Stjepan Tadic <br>
                All rights reserved
            </div>
            <div class="col-lg-4">
                FOLLOW US ON: <br>
                <img src="../icons/facebook.png" alt="facebook">
                <img src="../icons/instagram.png" alt="instagram">
                <img src="../icons/linkedin.png" alt="linkedin">
            </div>
        </div>
    </div>
    <!-- End of footer -->

    <!-- Link to the Bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous">
    </script>
</body>