<!--Footer-->
<div class="container-fluid footer text-center">
    <div class="row">
        <div class="col-lg-4"><a href="#">Privacy & Cookies</a></div>
        <div class="col-lg-4" style="font-weight: bold;">TheCoffeeCove</div>
        <div class="col-lg-4">FOLLOW US ON:</div>
    </div>
    <div class="row">
        <div class="col-lg-4"><a href="#">Store Events</a></div>
        <div class="col-lg-4" style="font-style:italic;">Copyright 2024 by Stjepan Tadic</div>
        <div class="col-lg-4">
            <img src="../icons/facebook.png" alt="facebook">
            <img src="../icons/instagram.png" alt="instagram">
            <img src="../icons/linkedin.png" alt="linkedin">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"><a href="#">Delivery Information</a></div>
        <div class="col-lg-4" style="font-style:italic;">All rights reserved</div>
        <div class="col-lg-4">
            
        </div> 
    </div>
</div>