<!-- Bootstrap Navbar component-->
<!-- Class sticky-top added so navbar would always be visible, classes for background and foreground colours addedto preserve the colour scheme of a site -->
<!-- Custom class .container-nav adjusts padding of navbar elements -->
<nav class="navbar navbar-expand-lg bg-danger sticky-top" data-bs-theme="dark">
    <div class="container-fluid container-nav">
        <a class="navbar-brand" href="/">TheCoffeeCove</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>