<!-- Log In popup -->
<div id="popup" class="popup">
    <span class="popup-close" onclick="togglePopup()">X</span>
    <div class="container popup-content">
        <form action="/login" method="post" id="login">
            <input id="username" name="username" type="text" placeholder="Username" autocomplete="off" autofocus spellcheck="false"><br>
            <input id="password" name="password" type="password" placeholder="Password" autocomplete="off"><br>
            <button type="submit" id="login-submit">Sign In</button>
        </form>
        <p id="login-error"></p>
    </div>
</div>