<div class="overlay"></div>
<div class="popup">
    <div class="popup-content">
        <form action="/login" method="post">
            <input type="text">
            <input type="password">
            <button type="submit">Sign In</button>
        </form>
    </div>
</div>