<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="images/fr_original.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <p>
                This coffee is rightfully considered the queen among coffees, 
                thanks to its full, chocolatey flavour and irresistible fragrance
                that has been appreciated by generations of true coffee lovers.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            buy now
            <button>Add to Cart</button>
        </div>
    </div>
</div>