<!-- Header -->
<%- include("includes/head.ejs") %>
    <!-- Stylesheet for About Us page -->
    <link rel="stylesheet" href="css/about.css">
    </head>

    <body>
        <!-- Navbar -->
        <%- include("includes/navbar.ejs") %>
            <!-- Login Popup -->
            <%- include("includes/popup.ejs") %>

                <div class="about blur">
                    <h2>Welcome to TheCoffeeCove, your gateway to the rich and aromatic world of Mediterranean ground
                        coffee!</h2>
                    <br>
                    <p>
                        At TheCoffeeCove, we're passionate about bringing the finest coffee experience
                        right to your cup.
                        Our journey began with a simple mission: to share the distinct flavors and traditions of
                        Mediterranean coffee with
                        coffee lovers around the globe.
                    </p>
                    <img src="/images/coffee4.jpg" alt="">
                    <p>
                        From the sun-kissed shores of Croatia to the historic coffeehouses of Italy, we select only
                        the finest ground coffee blends, each one crafted with precision and care by master roasters.
                        Whether you prefer the bold intensity of an Italian espresso or the smooth richness of a
                        Croatian blend, we have something to satisfy every palate. With a deep
                        respect for tradition and a commitment to excellence, we bridge the gap between renowned coffee
                        brands and discerning customers, ensuring that every cup you brew is a true delight.
                    </p>
                    <p>
                        At TheCoffeeCove, we believe that great coffee is more than just a beverage—it's a journey of
                        discovery and delight. Join us as we explore the vibrant flavors and time-honored traditions of
                        Mediterranean coffee culture, one cup at a time.
                    </p>
                    <br>
                    <h4 style="text-align: center;">
                        From our family to yours, welcome to TheCoffeeCove.
                    </h4>
                </div>

                <!-- Footer -->
                <%- include("includes/footer.ejs") %>
    </body>

    </html>