    <!-- Header -->
    <%- include("includes/head.ejs") %>
        <!-- Stylesheet for About Us page -->
        <link rel="stylesheet" href="css/about.css">
    </head>

    <body>
        <!-- Navbar -->
        <%- include("includes/navbar.ejs") %>

        <div class="about">
            <h2>Welcome to TheCoffeeCove, your gateway to the rich and aromatic world of Mediterranean ground coffee.</h2>
            <br>
            <p>
                At TheCoffeeCove, we're passionate about bringing the finest Mediterranean coffee experience right to your cup. 
                Our journey began with a simple mission: to share the distinct flavors and traditions of Mediterranean coffee with 
                coffee lovers around the globe.
            </p>
            <img src="/images/coffee4.jpg" alt="">
            <p>
                Our story is one of dedication and discovery. From the sun-drenched hillsides of the Mediterranean, we meticulously 
                source only the finest Arabica beans, hand-picking each batch to ensure exceptional quality and flavor. With a deep 
                respect for tradition and a commitment to excellence, every step of our coffee-making process is carefully crafted to 
                deliver a truly unforgettable experience.
            </p>
            <p>
                What sets our coffee apart is not just its bold flavor and aroma, but also the rich history and culture that it embodies. 
                Inspired by centuries-old techniques and infused with the vibrant spirit of the Mediterranean, each cup of our coffee is 
                a journey through time and tradition.
            </p>
            <p>
                Whether you're starting your day with a cup of our smooth and velvety espresso or winding down with a comforting mug of 
                our rich Turkish coffee, we invite you to savor the moments and indulge in the exquisite taste of TheCoffeeCove.
            </p>
            <p>
                Join us on this extraordinary journey as we celebrate the artistry and allure of Mediterranean coffee. From our family to
                yours, welcome to TheCoffeeCove.
            </p>
        </div>

     <!-- Footer -->
     <%- include("includes/footer.ejs") %>
</html>