<%- include("includes/head.ejs") %>
    </head>
    <body>

        <div class="container-fluid text-center subtotal">
                <a href="/products" onclick="">Go Bask</a>

                <h3>SUBTOTAL: <%= subtotal.toFixed(2) %></h3>

        </div>
        <div class="container-fluid">
            <div class="row">

            </div>
            <div class="row">
                
            </div>
            <div class="row">
                
            </div>
            <div class="row">
                
            </div>
            <div class="row">
                
            </div>

        </div>

    </body>
</html>

