    <!-- Header -->
    <%- include("includes/head.ejs") %>
        <!-- Link to a stylesheet relevant only to index page -->
        <link rel="stylesheet" href="css/index.css">
    </head>

    <body>
        <!-- Navbar -->
        <%- include("includes/navbar.ejs") %>

        <!-- Bootstrap "Carousel" component-->
        <!-- Modified version of bootstrap carousel, element link (button) added, default styles, like size, fonts, and borders of some elements have been changed-->
        <div class="carousel">
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="images/coffee1.jpg" class="d-block w-100" alt="Cup and coffee beans">
                        <div class="carousel-caption d-md-block">
                            <h4>- A Hug in a Mug -</h4>
                            <p>Start your day with a steaming mug of rich, comforting coffee</p>
                            <a class="btn" href="/products" role="button">Shop Now</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="images/coffee2.jpg" class="d-block w-100" alt="Cup of Coffee">
                        <div class="carousel-caption d-md-block">
                            <h4>- Espresso Yourself -</h4>
                            <p>Indulge in pure espresso perfection: bold, smooth, and full-bodied</p>
                            <a class="btn" href="/products" role="button">Shop Now</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="images/coffee3.jpg" class="d-block w-100" alt="Coffee Beans">
                        <div class="carousel-caption d-md-block">
                            <h4>- Rise & Grind -</h4>
                            <p>Experience the perfect brew: rich aroma and smooth flavor</p>
                            <a class="btn" href="/products" role="button">Shop Now</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- End of "Carousel" component -->

        <!-- Message for customers and Newsletter with bootstrap grid -->
        <div class="container-fluid container-index text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Explore Our Curated Coffee Collection</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="para">
                            Discover a handpicked selection of premium coffee from top Mediterranean Brands. 
                            Our collection features high-quality, ethically sourced beans that deliver rich, 
                            satisfying flavors in every cup. We curate a variety of roasts and blends to suit every palate, 
                            ensuring you find your perfect brew. Shop with us for a delightful coffee experience, every time.
                        </p>
                    </div>
                </div>
                <!-- Newsletter -->
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/newsletter" method="post" class="newsletter">
                            <h4>
                                Stay in the Loop for Exclusive Coffee Deals! Sign up for our newsletter and be the first to know 
                                about special offers, new arrivals, and brewing tips.
                            </h4>
                            <input type="email" required placeholder="Email Address">
                            <br>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Message and Newsletter -->
        
    <!-- Footer -->
    <%- include("includes/footer.ejs") %>
</html>