<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="css/carousel.css">
</head>
<body>
    
    <%- include("includes/navbar.ejs") %>

    <!-- Bootstrap Carousel component-->
    <!-- Modified version of bootstrap carousel, element link (button) added, default styles of some elements have been changed-->
    <div class="carousel">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="images/coffee1.jpg" class="d-block w-100" alt="Cup and coffee beans">
            <div class="carousel-caption d-md-block">
                <h4>- A Hug in a Mug -</h4>
                <p>Start your day with a steaming mug of rich, comforting coffee</p>
                <a class="btn" href="#" role="button">Shop Now</a>
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="images/coffee2.jpg" class="d-block w-100" alt="Cup of Coffee">
            <div class="carousel-caption d-md-block">
                <h4>- Espresso Yourself -</h4>
                <p>Indulge in pure espresso perfection: bold, smooth, and full-bodied</p>
                <a class="btn" href="#" role="button">Shop Now</a>
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="images/coffee3.jpg" class="d-block w-100" alt="Coffee Beans">
            <div class="carousel-caption d-md-block">
                <h4>- Rise & Grind -</h4>
                <p>Experience the perfect brew: rich aroma and smooth flavor</p>
                <a class="btn" href="#" role="button">Shop Now</a>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
      <!-- End of Carousel component-->



    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-12"><h1>TheCoffeeCove</h1></div>
        <div class="row">
            <div class="col-lg-12"><h4>Hello Valentina, how are you, fancy a coffee</h4></div>
        </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>

</html>