<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div style="text-align: center; margin:5rem 4rem 3rem 4rem">
            <p style="font-size: 2rem;">
            Thank you for your purchase! Your contribution helps me replanish my stock of the coffee I guzzled while
            creating this application. <br>Much appreciated!
            </p>
            <a style="color: white; font-size: x-large; display: inline-block;" href="/"> * Back to Homepage * </a>
        </div>
    </body>
</html>