/* Class that contains all contents of 'about us' page */
.about {
    margin: auto;
    width: 60vw;
    margin-bottom: 3rem;
}

.about h2 {
    font-style: italic;
    text-align: center;
}

/* Text within paragraphs */
.about p {
    font-size: 1.3rem;
}

/* 'About us' page image style*/
.about img {
    margin: 0.5rem 2rem 1rem 0;
    width: 50%;
    border-radius: 1rem;
    border: 0.2rem inset wheat;
    float: left;
}

/* Media query for image scaling */
@media only screen and (max-width: 1310px) {
    .about img {
        float: none;
        width: 100%;
    }
}