/* General style for checkout page */
body {
    text-align: left;
    font-size: 1.5rem;
}

/* Wrapper for cart info and 'go back' button*/
.subtotal {
    margin: 2rem 0 2rem 0;
}

/* Go Back link */
.go-back {
    text-decoration: none;
    color: white;
    outline: 0.1rem solid white;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.go-back:hover {
    box-shadow: 0.3rem 0.3rem 0.5rem white;
    font-weight: bold;
}

/* Heading showing total quantity of items in the cart */
.items-qty {
    margin: 1rem;
}

/* Container holding whole payment form */
.payment-info {
    border: 0.3rem groove rgba(255, 255, 255, 0.589);
    border-radius: 1rem;
}

/* Sections of a payment form */
.row {
    margin: 2rem 1rem 2rem 1rem;
    outline: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem white;
}

/* All input elements of the payment form */
.payment-info input {
    margin: 0.8rem 0 0.8rem 0;
    border-radius: 0.2rem;
    outline: 0.1rem solid white;
    padding-left: 0.4rem;
}

/* 'Pay Now' button */
.btn-pay {
    margin-top: 2rem;
    color: white;
    outline: 0.1rem solid white;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.btn-pay:hover {
    box-shadow: 0.3rem 0.3rem 0.5rem white;
    font-weight: bold;
}