/* Setting width of container containing all products */
.container-products {
    width: 78vw;
    text-align: center;
 }

 /* Product images size and borders */
.product-img {
    width: 100%;
    border: 0.2rem groove white;
    margin-bottom: 1rem;
}

/* Media queries to control product's containers and images scale properly with decrease in horizontal pixel count */
@media only screen and (max-width: 1600px) {
    .col-outer {
        flex-basis: 100%;
        max-width: 100%;
    }
    .product-img {
        width: 70%;
    }
} 

@media only screen and (max-width: 991px) {
    .product-img {
        width: 100%;
    }
}

/* Class that defines style of grid system for each individual product on page */
.container-prod {
    width: 95%;
    box-shadow: 1rem 1rem 0.5rem rgba(216, 216, 216, 0.5);
    outline: 0.5rem groove rgba(194, 154, 154, 0.5);
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: rgb(15, 0, 0);
    border-radius: 1rem;
}

/* Style for element containing product name and description */
.product-desc {
    text-align: center;
    max-height: 17rem;
    overflow-y: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Product title */
.product-desc h5 {
    font-weight: bold;
}

/* Product description paragraph*/
.product-desc p {
    margin-top: 2rem;
    font-style: italic;
}

/* Style for row containing price and add to cart button */
.purchase-details {
    align-items: center;
    text-align: center;
}

/* Style of heading/price element */
.purchase-details h5 {
    align-items: center;
    margin-top: 0.5rem;
}

/* Purchase quantity input element */
.quantity {
    width: 4rem;
    height: 2.3rem;
    text-align: center;
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(197, 130, 130);
    font-weight: bold;
}

/* Arrows always visible. Source: https://stackoverflow.com/questions/25194631/is-it-possible-to-always-show-up-down-arrows-for-input-number */
.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button {  
   opacity: 1;
}

/* 'Add to cart' button */
.purchase-details .btn {
    background-color: rgba(158, 23, 23, 0.3);
    color: white;
    border: 0.1rem solid white;
    margin-bottom: 0.2rem;
}

.purchase-details .btn:hover {
    outline: 0.2rem solid white;
}

/* Shopping cart icon*/
.cart {
    cursor: pointer;
    width: 3.2rem;
    border-radius: 0.3rem;
    padding: 0.1rem 0.1rem 0.3rem 0.1rem;
    margin-left: 1.5rem;
    opacity: 0.5;
}

.cart:hover {
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(255, 255, 255);
    outline: 0.1rem groove rgb(255, 255, 255);
}

/* Style that is applied to the cart icon after product within the same element is added to cart */
.cart-highlight {
    opacity: 1;
}


/* OFFCANVAS - shopping cart */
.offcanvas-cart {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    outline: 0.1rem groove white;
    border: 0.1rem groove white;
    min-width: 30%;
}

/* Cart close button (X) */
.btn-close {
    background-color: white;
    font-size: 0.3rem;
}

/* Cart heading */
.offcanvas h4 {
    text-align: center;
    border-bottom: 0.2rem solid white;
    padding-bottom: 1rem;
}

/* Container for all products added to cart */
.cart-products {
    text-align: center;
}

/* Style of individual row containing product */
.cart-product {
    border-bottom: 0.1rem dashed white;
    border-top: 0.1rem dashed white;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

/* Heading displaying total of all items */
.total {
    border-top: 0.1rem inset white;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}

/* Checkout button */
.btn-checkout {
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: bisque;
    border-radius: 0.5rem;
    outline: 0.1rem solid white;
    box-shadow: 0.3rem 0.3rem 0.5rem white;
}

.btn-checkout:hover {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    outline: 0.2rem solid white;
    font-weight: bold;
}

/* Button that removes individual item */
.prod-remove {
    padding: 0 0.2rem 0 0.2rem;
    background-color: bisque;
    border-radius: 0.5rem;
    outline: 0.1rem solid white;
    box-shadow: 0.3rem 0.3rem 0.5rem white;
}

.prod-remove:hover {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    outline: 0.1rem solid white;
    font-weight: bold;
}

/* Cart input element for quantity */
.cart-quantity {
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(197, 130, 130);
    font-weight: bold;
    pointer-events: none;
}

/* Login required message */
.login-message {
    margin-top: 2rem;
}