/* General style of all pages and background image */
body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


/* NAVBAR */
/* Style of entire Bootstrap's Navbar element*/
.navbar {
    font-size: 1.3rem;
    margin-bottom: 2%;
    background-image: url("../images/background.jpg");
    background-blend-mode: overlay;
    background-color: rgba(90, 0, 0, 0.3);
    border-bottom: 0.1rem solid white;
    outline: 0.5rem groove rgba(202, 148, 148, 0.5);
}

/* Font and border style of logo contained in the Navbar */
.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    outline: 0.5rem groove rgba(202, 148, 148, 0.5);
}

/* Setting margin for a div containing all Navbar elements */
.container-nav {
    margin-left: 5%;
    margin-right: 5%;
}

/* Make Nevbar elements wider apart */
.nav-item {
    margin-left: 1rem;
}


/* FOOTER */
/* Footer element font size, background and padding set */
.footer {
    font-size: 1.1rem;
    background-blend-mode: overlay;
    background-color: rgba(90, 0, 0, 0.2);
    outline: 0.5rem groove rgba(202, 148, 148, 0.5);
    padding: 1rem;
}

/* Size and margin of social media icons */
.footer img {
    width: 2.1rem;
    margin-right: 1rem;
}

/* Default style removed for a link in the footer */
.footer a {
    text-decoration: none;
    color: inherit;
}

/* Footer links style change on mousover */
.footer a:hover {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.2rem;
    outline: 0.2rem groove rgba(202, 148, 148, 0.5);
}

/* Media query - responsive design for footer's column elements */
@media only screen and (max-width: 991px) {
    .footer .col-lg-4 {
        margin-bottom: 1.5rem;
    }
}