/* General style of all pages */
body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* NAVBAR */
/* Style of entire Bootstrap's Navbar element*/
.navbar {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 2%;
    background-image: url("../images/background.jpg");
    background-blend-mode: overlay;
    background-color: rgba(90, 0, 0, 0.3);
    border-bottom: 0.1rem solid white;
    outline: 0.5rem groove rgba(202, 148, 148, 0.5);
}

/* Font and border style of logo contained in the Navbar */
.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    outline: 0.5rem groove rgba(202, 148, 148, 0.5);
}

/* Setting margin for a div containing all Navbar elements */
.container-nav {
    margin-left: 5%;
    margin-right: 5%;
}

/* Make Nevbar elements wider apart */
.nav-item {
    margin-left: 0.5rem;
    margin-right: 1.5rem;

}

/* Override bootstrap pseudo-class for currently active links" */
.nav-link:active {
    color: initial;
}

/* Style for element containing 'Welcome <customerName>'that appears after user logs in */
.user {
    font-size: 1.4rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.712);
    text-shadow: 0.1rem 0.1rem 0.5rem white;
    margin-right: 2rem;
}

/* Cart icon in a navbar, visible only on products page */
.cart-icon-navbar {
    width: 3rem;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.3rem;
}

.cart-icon-navbar:hover {
    outline: 0.1rem solid white;
}


/* FOOTER */
/* Footer element font size, background and padding set */
.footer {
    font-size: 1.1rem;
    background-blend-mode: overlay;
    background-color: rgba(90, 0, 0, 0.2);
    outline: 0.5rem groove rgba(202, 148, 148, 0.5);
    padding: 1rem;
    flex-shrink: 0;
}

/* Size and margin of social media icons */
.footer img {
    width: 2.1rem;
    margin-right: 1rem;
}

/* Default style removed for a link in the footer */
.footer a {
    text-decoration: none;
    color: inherit;
}

/* Footer links style change on mousover */
.footer a:hover {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.2rem;
    outline: 0.2rem groove rgba(202, 148, 148, 0.5);
}

/* Media query - responsive design for footer's column elements */
@media only screen and (max-width: 991px) {
    .footer .col-lg-4 {
        margin-bottom: 1.5rem;
    }
}


/* LOGIN POPUP */
/* Class added to all elements with 'blur' class on popup activation that blurs and deactivates content */
.blur-active {
    filter: blur(0.1rem);
    pointer-events: none;
    user-select: none;
}

/* Popup style */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Class that is added to a popup on activation */
.popup-active {
    display: block;
    height: 27rem;
    width: 30rem;
    background-image: url("../images/login_bg.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(54, 4, 4, 0.459);
    border: 0.3rem outset rgb(211, 199, 199);
    box-shadow: 2rem 2rem 0.5rem rgb(0, 0, 0);
    z-index: 1;
    border-radius: 1rem;
}

/* Popup close sign (x) */
.popup-close {
    float: right;
    padding-right: 0.6rem;
    cursor: pointer;
    font-size: 1.4rem;
}

/* Popup header that contains 'Log into...' text */
.popup-header {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.popup-close:hover {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Content within popup */
.popup-content {
    text-align: center;
    margin-top: 3rem;
}

/* Username and password input elements */
.popup-content input {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    outline: 0.1rem solid white;
}

.popup-content input::placeholder {
    font-weight: 400;
    opacity: 0.8;
}

/* Popup Sign In button */
.popup-content button {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 0.3rem groove rgb(255, 255, 255);
    background-color: rgba(66, 5, 5, 0.788);
    color: white;
    box-shadow: 0.8rem 0.8rem 0.5rem rgb(0, 0, 0);
}

.popup-content button:hover {
    outline: 0.1rem solid white;
    font-weight: bold;
}

/* Error message */
.popup-content p {
    margin-top: 1rem;
    padding: 0;
    font-size: 1.2rem;
}

/* Create new account block within popup */
.popup-account {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.popup-account a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 1.3rem;
}

.popup-account a:hover{
    font-weight: bold;
}

/* REGISTER */

.register {
    margin-top: 3rem;
    border: 0.5rem groove white;
    border-radius: 1rem;
    padding: 2rem;
    font-size: larger;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.288);
}

/* Children elements of register form */
.form-register > * {
    border-radius: 0.5rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin: 1.5rem auto 1.5rem auto;

}

/* Input elements of register form */
.form-register input {
    padding: 0.4rem;
}

.form-register input::placeholder {
    opacity: 0.8;
}

/* Register submit button */
.btn-register {
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border: 0.1rem solid white;
    cursor: pointer;
    padding: 0.5rem;
}

.btn-register:hover {
    outline: 0.2rem outset white;
}

/* Link to navigate back to the home page */
.home-register {
    font-size: 1.4rem;
    margin-top: 5rem;
    text-decoration: none;
    color: white;
}

.home-register:hover {
    font-weight: bold;
}