/* General style of a pages and background image */
body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 0;
    margin: 0;
    align-items: center;
}

/* NAVBAR */
/* Modify style of Bootstrap's Navbar element*/
.navbar {
    font-size: 1.3rem;
    margin-bottom: 2%;
    background-image: url("../images/background.jpg");
    background-blend-mode: overlay;
    background-color: rgba(90, 0, 0, 0.3);
    border-bottom: 0.1rem solid white;
    box-shadow: -0.5rem 0.4rem 0.2rem rgba(202, 148, 148, 0.5);
}

/* Font and border style of logo contained in the Navbar */
.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    box-shadow: -0.5rem 0.5rem 0.2rem rgba(202, 148, 148, 0.5);
}

/* Setting margin for a div containing all Navbar elements */
.container-nav {
    margin-left: 5%;
    margin-right: 5%;
}

/* Make Nevbar elements wider apart */
.nav-item {
    margin-left: 1rem;
}